.cssTree {

}

.cssTreeNodeContainer {

}

.cssTreeNode {
	cursor:pointer;
	
	display:block;
	position:relative;
	
	margin:0px;
	border:none;
	border-spacing:0px;
	padding:7px;
	
	background-color:#FFFFFF;
	
	color:#000000;
	font-size:12px;
	font-weight:normal;
	font-family:Tahoma;
	text-decoration:none;
	text-align:left;
	line-height:1;
	white-space:normal;
}

.cssTreeNodeHover {
	background-color:#CCCCCC;
}

.cssTreeNodeImage {
	display:block;
	position:absolute;
	
	top:7px;
	left:7px;
}

.cssTreeNodeTitle {
	margin:2px 0px 0px 26px;
	border:none;
	border-spacing:0px;
	padding:0px;
	
	color:#000000;
	font-size:12px;
	font-weight:normal;
	font-family:Tahoma;
	text-decoration:none;
	text-align:left;
	line-height:1;
	white-space:normal;
}

.cssTreeNodeExtension {
	margin:2px 0px 0px 26px;
	border:none;
	border-spacing:0px;
	padding:0px;
	
	color:#666666;
	font-size:10px;
	font-weight:normal;
	font-family:Tahoma;
	text-decoration:none;
	text-align:left;
	line-height:1;
	white-space:normal;
}

.cssTreeNodePlaceholder {
	margin:0px 0px 0px 28px;
	border:none;
	border-spacing:0px;
	padding:0px;
}